* {
    margin: 0;
    padding: 0;
}
.clearBoth{
    clear: both;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0px;
    height: 1px;
    background-color: #1572E8;
}
html,
body {
    height: 100%;
}
.sidebar {
    /* padding: 0 10px 0 10px; */
    min-width: 250px;
    float: left;
    color: #ffffff;
    background-color: #1572E8;
    text-align: center;
    overflow: hidden;
}
.sidebar:hover {
    overflow-y: auto;
}
.sideHead {
    margin: 25px 0 65px 0;
    padding: 0 5px 0 10px;
    clear: both;
    position: relative;
}
.headName {
    float: left;
    line-height: 20px;
    font-weight: bold;
    font-size: 20px;
}
.sidebarBtn1 {
    float: right;
    margin: 3px 28px 0 0px;
    font-size: 20px;
    cursor: pointer;
}
.sidebarBtn2{
    position: absolute;
    left: -500px;
    float: right;
    margin: 3px 28px 0 0px;
    font-size: 20px;
    cursor: pointer;
}
.userBtn {
    font-size: 20px;
    display: none !important;
    cursor: pointer;
}
.toggleBody{
    min-width: 250px;
    float: left;
    height: 100vh;
    min-height: 100%;
    color: #ffffff;
    background-color: #1572E8;
    text-align: center;
    overflow: hidden;
}
.sideBody {
    margin: 0px 0 5px 0;
    clear: both;
    border-top: 1px solid#ffffff;
}
.userBox {
    margin: 10px 0 0px 10px;
    display: flex;
    position: relative;
}
.userImg {
    width: 50px;
    margin: 5px 0 5px 0;
}
.userText {
    margin: 5px;
}
.userData {
    margin-top: -20px;
}
.sideFooter {
    border-top: 1px solid#ffffff;
}
.basicMain {
    padding: 15px 15px 0 15px;
    cursor: pointer;
    border-radius: 5px;
}
.basicMain:hover {
    background-color: rgba(255, 255, 255, 0.247);
}
.rotate180 {
    transform: rotate(180deg);
    transition: 0.5s;
    transform-origin: 50% 25%;
}
.basicIcon {
    font-size: 18px;
    /* padding: 15px; */
    /* line-height: 18px; */
}
.basicText {
    line-height: 18px;
    font-weight: bold;
}
.basicMainToggle {
    display: none;
}
.basicMainToggle>li {
    height: 40px;
    padding: 8px 0 0 0px;
    cursor: pointer;
    border-radius: 5px;
}
.basicMainToggle>li:hover {
    background-color: rgba(255, 255, 255, 0.247);
}
.reportMain {
    padding: 12px 0 0 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: normal;
}
.reportMain:hover {
    background-color: rgba(255, 255, 255, 0.247);
}
.reportMainToggle {
    display: none;
}
.reportMainToggle>li {
    height: 40px;
    padding: 8px 0 0 0px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}
.reportMainToggle>li:hover {
    background-color: rgba(255, 255, 255, 0.247);
}
.settingMain {
    padding: 12px 0 0 12px;
    cursor: pointer;
    border-radius: 5px;
    ;
}
.settingMain:hover {
    background-color: rgba(255, 255, 255, 0.247);
}
.settingToggle {
    display: none;
}
.settingToggle>li {
    height: 40px;
    padding: 8px 0 0 0px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

.settingToggle>li:hover {
    background-color: rgba(255, 255, 255, 0.247);
}

.content {
    margin-left: 250px;
}
.sidebarToggle {
    margin-left: -180px;
    transition: all 0.3s ease;
}
.displayNone {
    display: none;
}
.displayNone2 {
    display: none;
}
.marginLeft179 {
    margin-left: 179px;
}
.paddingLeft225 {
    padding-left: 225px;
}
.marginRight70 {
    margin-left: -70px;
}
.width70 {
    min-width: 70px;
    transition: 0.3s;
}
.rightImgBlock{
    text-align: center;
    /* display: none; */
    width: 100%;
    height: 65px;
    background-color: rgb(236, 236, 236);
}
.rightImg {
    width: 50px;
    position: absolute;
    /* right: 30px; */
    /* top: 15px; */
    cursor: pointer;
}
/* 768以下 */
@media screen and (max-width: 768px) {
    .sidebar {
        height: 65px;
        width: 100%;
    }
    .headName {
        margin-left: 47%;
    }
    .toggleBody{
        position: absolute;
    }
    .sidebarBtn1 {
        display: none !important;
    }
    .sidebarBtn2 {
        left: 20px;
        display: block;
    }
    .userBtn {
        display: block !important;
        position: absolute;
        right: 20px;
    }
    .content {
        margin-left: 0;
    }
    .rightImgBlock{
        display: none;
    }
    .rightImg {
        margin-top: 7px;
    }
}