@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: '微軟正黑體';
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  background-color: #88b9f8;
  border-radius: 6px;
}

/* 捲軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb {
  background-color: #00558F;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 6px;
}

.sidebar {
  font-size: 22.5px;
}

.sidebar .sidehead {
  width: 250px;
  height: 65px;
  background-color: #00558F;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  padding-right: 1px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.329);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar .sidehead .sideheadText {
  text-align: left;
  margin: 25px 0 0 25px;
  color: #fff;
}

.sidebar .sidehead .sidebarBtn {
  position: absolute;
  text-align: right;
  margin: 25px 20px 0 auto;
  color: #fff;
  cursor: pointer;
  display: none;
}

.sidebar .sidehead .userBtn {
  position: absolute;
  text-align: right;
  margin: 25px 20px 0 auto;
  color: #fff;
  cursor: pointer;
  display: none;
}

.sidebar .sidebody {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 250px;
  height: 100vh;
  min-height: 100%;
  float: left;
  background-color: #00558F;
  color: #fff;
  overflow-y: auto;
  position: fixed;
}

.sidebar .sidebody .userContent .userBlock {
  border-bottom: 1px solid rgba(202, 202, 202, 0.329);
  margin-top: 80px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar .sidebody .userContent .userBlock .userImgBlock {
  float: left;
  margin-left: 10px;
}

.sidebar .sidebody .userContent .userBlock .userImgBlock .userImg {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar .sidebody .userContent .userBlock .userTextBlock {
  margin-left: 50px;
}

.sidebar .sidebody .userContent .userBlock .userTextBlock .userText {
  margin-top: -8px;
}

.sidebar .sidebody .userContent .basicToggleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0px 10px 0 10px;
}

.sidebar .sidebody .userContent .basicToggleBlock:hover {
  background-color: rgba(255, 255, 255, 0.247);
}

.sidebar .sidebody .userContent .basicToggleBlock .toggleIcon {
  margin: auto auto auto 10px;
}

.sidebar .sidebody .userContent .basicToggleBlock .toggleIcon .basicIcon {
  margin-top: 3px;
}

.sidebar .sidebody .userContent .basicToggleBlock .toggleText {
  margin: auto auto auto -100px;
  letter-spacing: 3px;
}

.sidebar .sidebody .userContent .basicToggleBlock .toggleTextSet {
  margin-left: -60px;
}

.sidebar .sidebody .userContent .basicToggleBlock .downIcon {
  line-height: 22.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar .sidebody .toggleMenu li {
  margin: 0 10px 0 10px;
  padding: 8px 0 8px 40px;
  border-radius: 6px;
  letter-spacing: 3px;
  font-size: 14px;
  list-style-position: inside;
  cursor: pointer;
}

.sidebar .sidebody .toggleMenu li:hover {
  background-color: rgba(255, 255, 255, 0.247);
}

.contentBlock {
  margin-left: 250px;
}

.contentBlock .rightImgBlock {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.contentBlock .rightImgBlock .rightImg {
  width: 50px;
  cursor: pointer;
}

.contentBlock footer {
  font-size: 15px;
  position: fixed;
  right: 15px;
  bottom: 20px;
  color: #7B7B7B;
}

@media screen and (max-width: 768px) {
  .sidebar .sidehead {
    width: 100vw;
    position: absolute;
    border: 0px;
  }
  .sidebar .sidehead .sideheadText {
    margin: auto;
  }
  .sidebar .sidehead .sidebarBtn {
    left: 25px;
    display: block;
  }
  .sidebar .sidehead .userBtn {
    display: block;
    right: 5px;
  }
  .sidebar .sidebody {
    padding-left: 0;
    position: fixed;
    margin-left: -250px;
    float: left;
  }
  .sidebar .sidebody .toggled {
    padding-left: 250px;
  }
  .sidebar .sidebody .userContent {
    border: 0px;
  }
  .sidebar .sidebody .userContent .userBlock {
    margin-top: 20px;
  }
  .contentBlock {
    position: relative;
    top: 65px;
    margin-left: 0px;
  }
  .contentBlock .rightImgBlock {
    width: 100vw;
    right: 0;
    top: 0;
    padding: 5px 0;
    background-color: rgba(238, 238, 238, 0.7);
    text-align: center;
    display: none;
  }
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.toggledHead {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}
/*# sourceMappingURL=all.css.map */